@import '../../../assets/styles/variables';

.Textarea-Elip {
  textarea {
    color: $white;
    border-radius: 20px;
    border-color: $softOrange;
    max-width: 100%;
    width: 100%;
    min-height: 120px;
    padding: 12px;
    font-size: 1rem;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    line-height: 1.1876em;
    letter-spacing: 0.00938em;

    &:focus,
    :visited {
      border: 2px solid green;
      border-radius: 20px;
      outline: none;
    }

    &::after,
    :active,
    :visited {
      border-bottom-color: green;
      border-radius: 20px;
    }

    &:hover {
      border-color: $softOrange;
      border-radius: 20px;
    }
  }
}
