@import '../../assets/styles/variables';

#About-Me {
  position: relative;
  padding-top: 80px;
  min-height: 100vh;
  height: 100%;

  .infomation {
    display: block;
    color: $white;

    .my-picture {
      height: 150px;
      width: 150px;
      border-radius: 100%;
    }
  }

  .Dowload-CV {
    height: 42px;
    min-width: 130px;
    border-radius: 42px;
    text-transform: initial;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .work-skills {
    justify-content: center;

    &__item {
      min-width: 160px;
      padding: 10px;
      width: calc(100% / 5);
      &--description {
        font-weight: 100;
      }
    }
  }
}
