@import '../../assets/styles/variables';

#Contact-Me {
  min-height: 100vh;
  height: 100%;
  padding-top: 2em;

  .Contact {
    &__form {
      &--button {
        position: relative;
        width: fit-content;

        .buttonProgress {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -12px;
          margin-left: -12px;
        }

        @media screen and (max-width: 600px) {
          & {
            margin: 0 auto;
          }
        }
      }
    }
  }
  .habits {
    &__item {
      min-height: 60px;
      align-items: center;
      display: inline-block;

      &--round {
        color: $white;
        width: 100px;
        height: 100px;
        border: 1px solid $softOrange;
        padding: 10px;
        box-sizing: border-box;
        flex-wrap: wrap;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .MuiSnackbar {
    position: fixed;
    bottom: 190px;
  }
}
