@import '../../assets/styles/variables';

.Header-main {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: $veryDarkDesaturatedBlue;
  text-transform: uppercase;
  position: relative;

  &__Particles {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .infomation {
      display: block;
      align-items: center;
      text-align: center;
      color: $white;
      position: absolute;
      z-index: 2;
      color: $white;

      .my-picture {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        border: 2px solid $softOrange;
      }

      .position__name {
        margin: 12px;
        text-transform: initial;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }

      .follows {
        .follow {
          &__item {
            display: inline-block;
            color: $white;
            margin: 6px;

            &:hover {
              color: $softOrange;
            }
            &__icon {
              font-size: 30px;
            }
          }
        }
      }

      .Hire-me {
        background-color: $moderateRed;
        border-radius: 16px;
        min-width: 130px;
        min-height: 42px;
        font-size: 16px;
        position: relative;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        text-transform: initial;

        &:hover {
          color: #fff;
          -webkit-animation-name: button-push;
          animation-name: button-push;
          -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
        }
      }
    }
  }
}
