@import './variables';

$font: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', sans-serif;
@mixin more-font {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin Roboto-Medium {
  font-family: 'Roboto', $font; // Roboto-Medium
  @include more-font;
  font-weight: 500;
}

@mixin Roboto-Black {
  font-family: 'Roboto', $font !important; // Roboto-Black
  @include more-font;
  font-weight: 900;
}

@mixin Roboto-Bold {
  font-family: 'Roboto', $font; // Roboto-Bold
  @include more-font;
  font-weight: 700;
}

@mixin Roboto-Light {
  font-family: 'Roboto', $font; // Roboto-Light
  @include more-font;
  font-weight: 300;
}

@mixin Roboto-Thin {
  font-family: 'Roboto', $font; // Roboto-Thin
  @include more-font;
  font-weight: 100;
}

// Defind magrin and padding
$direction: ('top', 'right', 'bottom', 'left');
@each $i in $direction {
  @for $j from 1 through 20 {
    .margin--#{$i}--#{2 * $j} {
      margin-#{$i}: 2px * $j !important;
    }
  }
  @for $j from 0 through 20 {
    .padding--#{$i}--#{2 * $j} {
      padding-#{$i}: 2px * $j !important;
    }
  }
}

@for $i from 0 through 10 {
  .padding--#{$i*2} {
    padding: $i * 2px;
  }
  .margin--#{$i*2} {
    margin: $i * 2px;
  }
}

// Defind Colors
$colors: (
  'veryDarkDesaturatedBlue': $veryDarkDesaturatedBlue,
  'white': $white,
  'moderateRed': $moderateRed,
  'softOrange': $softOrange,
  'very-dark-desaturated-blue': $very-dark-desaturated-blue,
  'inherit': inherit,
);
@each $name, $color in $colors {
  .bg--#{$name} {
    background-color: $color !important;
  }
  .color--#{$name} {
    color: $color !important;
  }
}

// Defind Text Align
$aligns: (left, right, center, justify);
@each $align in $aligns {
  .text--#{$align} {
    text-align: $align;
  }
}
