$veryDarkDesaturatedBlue: #353352;
$white: #ffffff;
$moderateRed: #c4475f;
$red: #f00;
$softOrange: #f9ae56;
$very-dark-desaturated-blue: #302f4e;

:export {
  veryDarkDesaturatedBlue: $veryDarkDesaturatedBlue;
  white: $white;
  moderateRed: $moderateRed;
  red: $red;
  softOrange: $softOrange;
  very_dark_desaturated_blue: $very-dark-desaturated-blue;
}
