@import '../../../../assets/styles/variables';

.Navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .wrapper {
    .infomation {
      .my-picture {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        border: 2px solid $softOrange;
      }
    }

    ul.List,
    li {
      padding: 0;
      margin: 0;
      list-style: none;

      .item-nav {
        margin: 0.5em 0;

        .link__nav {
          display: block;
          align-items: center;
          transition: all 0.3s ease-in-out;
          text-transform: capitalize;
          filter: opacity(0.5);
          text-decoration: none;

          &:hover {
            color: $softOrange;
            filter: opacity(1);
          }
          &--actived {
            color: $softOrange;
            filter: opacity(1);
          }
        }
      }
    }
  }
}
